@page
@model portalNoticiasGDJB.Pages.Index4Model
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FDA prohíbe el colorante rojo pues en estudios se le ha vinculado con cáncer</title>
    <link rel="stylesheet" href="site.css">
</head>
<body style ="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">

<div class="contenedor">
    <div class="noticia">
       
        <img class="imagen-principal" src="https://media.cnn.com/api/v1/images/stellar/prod/alimentos-rojo-fda.jpg?q=w_1160,c_fill/f_webp" alt="Imagen destacada de la noticia" width="100%" style="display: block; margin: 0 auto;">

        <p class="texto-principal" style="text-align: justify;">
            <br />
            La Administración de Alimentos y Medicamentos de EE.UU. (FDA, por sus siglas en inglés) prohibió el uso del colorante
            rojo número 3 en alimentos, bebidas y medicamentos ingeridos, más de 30 años después de que los científicos descubriera
            n vínculos con el cáncer en animales, anunció la agencia este miércoles.
            Un aditivo colorante sintético hecho de petróleo y químicamente conocido
            como eritrosina, el colorante rojo núm. 3 se utiliza para dar a los alimentos y bebidas un color rojo cereza brillante.
            La medida actúa sobre una petición de noviembre de 2022 presentada por múltiples organizaciones de defensa y particulares
            , incluyendo el Centro para la Ciencia en el Interés Público y el Grupo de Trabajo Ambiental, que citaron vínculos con el cáncer.
            La decisión de la agencia federal también sigue los pasos de California, cuyo gobierno prohibió el aditivo en octubre de 2023.
        </p>
    </div>

    <div class="noticia">
        <p class="texto-secundario" style="text-align: justify;">
            Los fabricantes que utilizan el rojo número 3 en alimentos y medicamentos ingeridos tienen hasta el 15 de enero de 2027 y el 18 de enero de 2028,
            respectivamente, para reformular sus productos, según la FDA. Los alimentos importados a Estados Unidos también deben cumplir con los requisitos.

        </p>
        <p class="texto-secundario" style="text-align: justify;">
            “La acción de hoy de la FDA es muy esperada, es un pequeño paso en la dirección correcta y, con suerte, señala un renovado esfuerzo
            por parte de la FDA para hacer su trabajo a pesar de las muchas barreras que la industria alimentaria coloca en su camino”, dijo el
            Dr. Jerold Mande, profesor adjunto de nutrición en la Escuela de Salud Pública T.H. Chan de la Universidad de Harvard, por correo electrónico.

        </p>

        <p class="texto-secundario" style="text-align: justify;">
            La decisión marca una “victoria monumental” para la salud y seguridad de los consumidores, dijo Ken Cook, cofundador y presidente
            del Grupo de Trabajo Ambiental, en un comunicado. “No estaríamos celebrando esta decisión histórica hoy sin el liderazgo incansable
            de campeones de la salud pública como Michael Jacobson y otros que comenzaron esta lucha hace décadas en nombre de los consumidores”.
            El colorante rojo número 3 se encuentra en al menos decenas de productos de dulces, alimentos y bebidas, pero algunas de las marcas
            más populares nunca lo usaron o ya han dejado de usar el aditivo. Menos del 10% de los productos fabricados por la empresa de caramelos
            Ferrara, que produce caramelos Brach’s, por ejemplo, contienen el aditivo, ya que la empresa comenzó a eliminar su uso a principios de 2023
            , según un portavoz de Ferrara.
        </p>
        <br>
        <img class="imagen-secundaria" src="https://www.infobae.com/resizer/v2/SEFEXXX53RDL5OMX7NZTLTFCHE.jpg?auth=de6424f3c40e8b557aba1cb221a5151780f446f559674829840dd5e598c9570c&smart=true&width=768&height=432&quality=85" alt="Imagen destacada de la noticia" width="100%" style="display: block; margin: 0 auto;">
        <br>
        <blockquote class="cita">El uso excesivo de colorante rojo en alimentos puede asociarse con riesgos a la salud según estudios toxicológicos recientes. - (Imagen Ilustrativa Infobae)</blockquote>
        <p>
            En resumen, el colorante rojo 3 se encuentra en una amplia variedad de alimentos y bebidas en México, desde golosinas hasta
            productos cárnicos y bebidas procesadas. Es importante que los consumidores sean conscientes de los productos que contienen
            este aditivo y lean cuidadosamente las etiquetas para tomar decisiones informadas sobre su consumo.
        </p>
    </div>
    </div>
    <!-- Reacciones de la noticia 1 -->
    <div id="reactions-noticia4" class="news-reactions">
        <!-- Las reacciones de la noticia 1 se cargarán aquí -->
    </div>

    <!-- Formulario para agregar un comentario -->
    <div>
        <label for="username-noticia4">Tu nombre: </label>
        <input type="text" id="username-noticia4" placeholder="Ingresa tu nombre">
        <br><br>
        <label for="comment-text-noticia4">Tu comentario: </label>
        <textarea id="comment-text-noticia4" rows="4" cols="50" placeholder="Escribe tu comentario aquí..."></textarea>
        <br><br>
        <button onclick="addComment('noticia4')">Agregar Comentario</button>
    </div>

    <!-- Sección de comentarios -->
    <div id="comments-section-noticia4" class="comments-section">
        <!-- Los comentarios para la noticia 1 se cargarán aquí -->
    </div>
    <script src="~/js/comentarios.js"></script>
</body>
</html>



