@page
@model portalNoticiasGDJB.Pages.Index2Model
@{
}
<div class="contenedor">
    <div class="noticia">
        <h1 class="titulo-principal" style="text-align: center;">
            Ramos se une a la lista de españoles en la liga MX.
            Algunos de ellos han marcado historia como el caso reciente de Fidalgo.
        </h1>
        <img class="imagen-principal" src="https://www.elgrafico.com/__export/1738939193163/sites/prensagrafica/img/2025/02/07/gjjyaabxmaapxga_crop1738939190560.jpg_554688467.jpg" alt="Imagen destacada de la noticia" width="100%" style="display: block; margin: 0 auto;">
        <p></p>
        <p class="texto-principal" style="text-align: justify;">
            Sergio Ramos, jugador del Real Madrid durante dieciséis temporadas y campeón del Mundo con la selección española en 2010, se convirtió este jueves en nuevo jugador de Rayados de
            Monterrey y, de esta forma, se une a la lista de figuras españolas en la liga mexicana.
        </p>
    </div>

    <div class="noticia">
        <h2 class="titulo-secundario" style="text-align: center;">¿QUÉ PASÓ?</h2>
        <p class="texto-secundario" style="text-align: justify;">
            Sergio Ramos es nuevo jugador de Rayados de Monterrey y es ya uno de los fichajes más impactantes en la historia de la Liga MX. El legendario defensa español, que pasó los últimos seis meses sin actividad tras convertirse en agente libre, está listo para asumir un nuevo reto en el fútbol mexicano. El de Camas eligió el dorsal '93' y el Real Madrid ha aprovechado la ocasión para recordar un histórico
            momento contra el Atlético de Madrid, rival de este sábado en el derbi de la capital española.
        </p>
        <blockquote class="cita">
            Sergio Ramos llega a Rayados y elige el dorsal '93'.
            El Madrid lo aprovecha para recordar un momento histórico contra el Atleti.
            El Atleti lleva días cargando contra los blancos en redes sociales.
        </blockquote>
        <img class="imagen-secundaria" src="https://assets.goal.com/images/v3/blt18ad869468ff384a/Captura%20de%20pantalla%202025-02-06%20a%20la(s)%205.jpg?auto=webp&format=pjpg&width=1200&quality=60" alt="Imagen destacada de la noticia" width="100%" style="display: block; margin: 0 auto;">
        <p class="texto-secundario">
        <p>
            Sergio Ramos usará el número 93 en Rayados de Monterrey, en homenaje a su gol histórico en la final de la Champions League 2014 pese a que el reglamento de la Liga MX limita los números de camiseta al 1 al 40. A pesar de esto, una cláusula indica que si no se cumple con el requerimiento,
            el club podría enfrentar una sanción económica y Monterrey estaría dispuesto a cubrir dicha sanción con tal de que el defensa utilice un dorsal icónico.
        </p>
    </div>
</div>