@page
@model portalNoticiasGDJB.Pages.Index3Model
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forza Horizon 5 en ps5</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
    <div class="contenedor" style="max-width: 800px; margin: 0 auto;">
        <div class="noticia">
            <h1 class="titulo-principal" style="text-align: center;">
                Forza Horizon 5: el primer gran exclusivo de Xbox que llegará a Playstation 5
            </h1>
            <img class="imagen-principal" src="~/img/Forza horizon.png" alt="Imagen destacada de la noticia" width="100%" style="display: block; margin: 0 auto;">

            <p class="texto-principal" style="text-align: justify;">
                <br />
                Microsoft anunció que Forza Horizon 5, uno de los juegos más emblemáticos de Xbox, llegará a PlayStation 5 en 2025.
                Este movimiento, inusual para una franquicia exclusiva, marca un posible cambio hacia un enfoque multiplataforma.
                Lidera expediciones asombrosas entre los cambiantes paisajes animados de mundo abierto de México, con una divertida acción
                de conducción sin límites en cientos de los mejores coches del mundo. Explora paisajes dinámicos y en constante evolución del
                mundo abierto de México con una acción de conducción ilimitada y divertida en cientos de los mejores coches del mundo. Forza
                Horizon 5 es un juego de conducción a cargo de Playground Games y Xbox Game Studios para PC, Xbox One, Xbox Series y PlayStation 5.
            </p>
        </div>

        <div class="noticia">
            <h2 class="titulo-secundario" style="text-align: center;"></h2>
            <p class="texto-secundario" style="text-align: justify;">
                La noticia se dio a conocer en el sitio web oficial de Forza, donde se brindaron detalles sobre qué incluirá este lanzamiento.
                Esta versión, que será desarrollada por Panic Button en colaboración con Turn 10 Studios y Playground Games, contará con todo
                el contenido presente en el juego base, además de la opción de crossplay tanto con PC como con Xbox. Los paquetes DLC que llegaron
                al juego en el pasado, como la expansión de Hot Wheels, estarán disponibles para comprar por separado. Además, el estudio confirmó
                que también se encuentra trabajando en una nueva actualización para el juego, la cual estará disponible de manera gratuita para todas las plataformas.
            </p>



            <p class="texto-secundario" style="text-align: justify;">
                La decisión de llevar Forza, una de las franquicias previamente exclusivas más importantes de Microsoft, a la consola de Sony,
                es una clara muestra de la nueva estrategia de Xbox Game Studios para que sus juegos estén disponibles en más plataformas.
                Recientemente, en una entrevista donde se le preguntó sobre el posible lanzamiento de más juegos de Xbox como Starfield en
                consolas de la competencia, el propio Phil Spencer declaró: “No hay razón para poner barreras alrededor de ningún juego”.
                Esto se suma a los lanzamientos anteriores de Sea of Thieves y Hi-Fi Rush en PlayStation 5, así como también los lanzamientos
                planeados de Indiana Jones and the Great Circle y Doom: The Dark Ages.
            </p>

            <img class="imagen-secundaria" src="https://www.infobae.com/resizer/v2/4JYEHPMCSBFPZDS2BRD2KEMUWA.jpg?auth=2434e37acc7a7c8b01f7a3eb01d5f71e4853d1e980aa457fed8fde5feb4d59f7&smart=true&width=992&height=558&quality=85" alt="Imagen destacada de la noticia" width="100%" style="display: block; margin: 0 auto;">
            <blockquote class="cita">Forza Horizon 5 — Playground games</blockquote>
            <p class="texto-secundario">
            <p>
                Forza Horizon 5 es la entrega más grande a la fecha, y probablemente la que ofrece los mejores paisajes,
                no solo por la biodiversidad de la República Mexicana, también gracias a la atención al detalle. Este movimiento,
                inusual para una franquicia exclusiva, marca un cambio en la historia de las plataformas.

            </p>
        </div>
    </div>
</body>
</html>
