@page
@model portalNoticiasGDJB.Pages.Noticia_2Model
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia: Primera Tormenta Invernal</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
    <div class="contenedor" style="max-width: 800px; margin: 0 auto;">
        <div class="noticia">
            <h1 class="titulo-principal" style="text-align: center;">
                Primera tormenta invernal obliga a rescates acuáticos, corta la electricidad y crea peligrosas condiciones de viaje
            </h1>
            <img class="imagen-principal" src="https://media.cnn.com/api/v1/images/stellar/prod/ap25037633941269-20250206203218750.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" alt="Imagen destacada de la noticia" width="100%" style="display: block; margin: 0 auto;">
            <p></p>
            <p class="texto-principal" style="text-align: justify;">
                Una tormenta de gran alcance obligó a realizar rescates acuáticos, cortó la electricidad a decenas de miles de personas y creó peligrosas condiciones de viaje mientras afectaba el Valle de Ohio, el Atlántico Medio y el noreste este jueves.
                Es un anticipo de la actividad de la frenética tormenta invernal que se espera para este mes. Se esperan al menos otras dos tormentas para la próxima semana, incluida una que afectará a California este jueves y que impactará las mismas regiones durante el fin de semana.
                Las lluvias muy fuertes en el lado sur, más cálido, de la tormenta de este jueves provocaron las primeras emergencias por inundaciones repentinas del año en partes del este de Kentucky y Virginia Occidental. Las emergencias por inundaciones repentinas son el nivel más severo de advertencia de inundaciones e indican que están ocurriendo inundaciones que amenazan la vida.
                Los servicios de emergencia realizaron al menos 20 rescates acuáticos este jueves en el condado Kanawha, en Virginia Occidental, donde se encuentra Charleston. Algunas carreteras en el condado permanecieron intransitables debido a inundaciones a media mañana, según el gerente del condado, Jeremy Young.

            </p>
        </div>
        <p>  </p>
        <p>  </p>
        <div class="noticia">

            <img class="imagen-secundaria" src="https://media.cnn.com/api/v1/images/stellar/prod/img-6299-20250206200745799.jpg?q=w_1110,c_fill/f_webp" alt="Imagen destacada de la noticia" width="100%" height="500px" style="display: block; margin: 0 auto;">
            <p>  </p>
            <p>  </p>
            <p class="texto-secundario" style="text-align: justify;">
                “No podemos suficientemente enfatizar que no se debe conducir a través de aguas altas por ninguna razón”, instaron los servicios de emergencia en el condado Kanawha a través de redes sociales el jueves por la mañana.
                También hubo múltiples advertencias de tornados mientras una línea de tormentas severas avanzaba a través de Kentucky y entraba en Virginia Occidental el jueves por la mañana. Al menos un tornado confirmado se generó a partir de estas tormentas cerca de Booneville, en el condado Owsley, en el este de Kentucky.
                Más de 90.000 hogares y negocios quedaron sin electricidad en Ohio, Virginia Occidental, Virginia, Maryland, Pensilvania y Nueva Jersey el jueves debido a tormentas severas y hielo.


                Una mezcla helada se extendió desde el centro de Virginia hasta el norte del estado Nueva York y partes de Nueva Inglaterra el jueves, incluyendo en Baltimore, Filadelfia y la ciudad de Nueva York.
                Cantidades peligrosas de hielo de hasta 0,76 centímetros se acumularon en partes de Pensilvania, Maryland occidental y Virginia Occidental. Fue suficiente para tumbar árboles y líneas eléctricas —que causaron cortes de energía— y convirtió el viaje en algo peligroso, casi imposible.

            </p>
        </div>
        <p>  </p>
        <p>  </p>
        <div class="noticia">

            <img class="imagen-secundaria" src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2197378412-20250206201502437.jpg?q=w_1160,c_fill/f_webp" alt="Imagen destacada de la noticia" width="800" height="500">
            <blockquote class="cita">El tráfico avanza por las montañas rodeadas de árboles helados el jueves por la mañana en el condado Somerset, Pensilvania. Jeff Swensen/Getty Images.</blockquote>
            <p>  </p>
            <p>  </p>
            <p class="texto-secundario" style="text-align: justify;">

                Se reportaron accidentes de tráfico en Illinois, Michigan, Ohio y Pensilvania el jueves por la mañana en el caos helado.

                Dos personas resultaron heridas cuando una ambulancia de transporte volcó y chocó en el condado Schuylkill, en el este de Pensilvania, el jueves por la mañana, reportó WFMZ, la afiliada de CNN. Aguanieve y lluvia helada estaban cayendo en la región en ese momento, según observaciones meteorológicas.

                Los retrasos y cancelaciones de vuelos también se acumularon. Más de 500 vuelos hacia o desde Estados Unidos fueron cancelados y 2.800 retrasados. Los aeropuertos en Filadelfia, Washington, Boston y el área de Nueva York experimentaron los mayores problemas.

                La nieve, el aguanieve, la lluvia congelante y la lluvia se expandieron en gran parte de Nueva Inglaterra el jueves por la tarde después de que la precipitación terminó en gran medida en las partes del sur del noreste.
            </p>
        </div>
    </div>
</body>
</html>