@page
@model portalNoticiasGDJB.Pages.perfilModel
@{
}

<div class="perfil-wrapper">
    <div class="container-perfil">
        <div class="datos-usuario">
            <img src="~/img/perfil.png">
            <h2>Usuario</h2>
            <p><strong>Email:</strong> usuario@gmail.com</p>
            <p><strong>Fecha de Nacimiento:</strong> dd/mm/aaaa</p>
        </div>
        <div class="acciones-perfil">
            <a href="/RegNoticia" class="btn-perfil">
                <img src="~/img/publicacion.png" alt="Publicación"> Nueva Publicación
            </a>
            <a href="#" class="btn-perfil">
                <img src="~/img/editarperfil.png" alt="Editar"> Editar Perfil
            </a>
            <a href="#" class="btn-perfil">
                <img src="~/img/password.png" alt="Contraseña"> Cambiar Contraseña
            </a>
        </div>
    </div>



    <div class="contenido-perfil">
        <h2>Tus Publicaciones</h2>
        <div id="noticias-perfil" class="grid-noticias">
            <!-- Aquí se cargarán las noticias desde localStorage -->
        </div>
        <h2>Publicaciones</h2>
        <hr>
        <div class="cont-public">
            <div class="publicaciones-usr">
                <h4>Primera tormenta invernal</h4>
                <img src="~/img/noticia1clima.jpg">
                <p>Autor: Usuario</p>
            </div>
            <div class="publicaciones-usr">
                <h4>FDA prohíbe el colorante rojo número 3 en alimentos</h4>
                <img src="~/img/gomas.png">
                <p>Autor: Usuario</p>
            </div>
            <div class="publicaciones-usr">
                <h4>Temores de que el iceberg más grande del mundo pueda chocar contra una isla del Atlántico Sur</h4>
                <img src="~/img/iceberg.png">
                <p>Autor: Usuario</p>
            </div>
            <div class="publicaciones-usr">
                <h4>Rayados oficializa el fichaje de Sergio Ramos</h4>
                <img src="~/img/Ramos.png">
                <p>Autor: Usuario</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Noticias.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Cargar noticias en el perfil del usuario con el botón de eliminar
            if (document.getElementById('noticias-perfil')) {
                cargarNoticias('noticias-perfil', true);
            }
        });
    </script>
}