@page
@model portalNoticiasGDJB.Pages.perfilModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    var userName = User.Identity?.Name ?? "Invitado";
    var isAdmin = false;
    var isPeriodista = false;

    if (User.Identity.IsAuthenticated)
    {
        var user = await UserManager.FindByNameAsync(userName);
        if (user != null)
        {
            isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
            isPeriodista = await UserManager.IsInRoleAsync(user, "Periodista");
        }
    }
}

<div class="perfil-wrapper">
    <div class="container-perfil">
        <div class="datos-usuario">
            <img src="~/img/perfil.png" alt="Foto de perfil">
            <h2>@userName</h2>
            <p><strong>Fecha de Nacimiento:</strong> @Model.FechaNacimiento</p>
        </div>

        <div class="acciones-perfil">
            @if (isAdmin || isPeriodista)
            {
                <a href="/RegNoticia" class="btn-perfil">
                    <img src="~/img/publicacion.png" alt="Publicación"> Nueva Publicación
                </a>
            }

            @if (isAdmin)
            {
                <a href="/GestionUsuarios" class="btn-perfil">Gestionar Usuarios</a>
            }

            <a href="#" class="btn-perfil">
                <img src="~/img/editarperfil.png" alt="Editar"> Editar Perfil
            </a>
            <a href="#" class="btn-perfil">
                <img src="~/img/password.png" alt="Contraseña"> Cambiar Contraseña
            </a>
            <a href="/logout" class="btn-perfil">
                <img src="~/img/cerrar-sesion.png" alt="Cerrar sesión"> Cerrar Sesión
            </a>
        </div>
    </div>

    <div class="contenido-perfil">
        @if (isAdmin || isPeriodista)
        {
            <div id="autor-content">
                <h2>Tus Publicaciones</h2>
                <div id="noticias-perfil" class="grid-noticias">
                    <div class="publicaciones-usr">
                        <h4>Primera tormenta invernal</h4>
                        <img src="~/img/noticia1clima.jpg" alt="Noticia 1">
                        <p>Autor: @userName</p>
                    </div>
                    <div class="publicaciones-usr">
                        <h4>FDA prohíbe el colorante rojo número 3 en alimentos</h4>
                        <img src="~/img/gomas.png" alt="Noticia 2">
                        <p>Autor: @userName</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div id="user-content">
                <h2>Publicaciones Guardadas</h2>
                <div id="publicaciones-guardadas" class="grid-noticias">
                    <p>Aquí irían las publicaciones guardadas.</p>
                </div>

                <h2>Comentarios Realizados</h2>
                <div id="comentarios-realizados" class="grid-noticias">
                    <p>Aquí irían los comentarios realizados.</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/Noticias.js"></script>
    <script src="~/js/validaciones.js"></script>
}
