@page
@model portalNoticiasGDJB.Pages.perfilModel
@{
}

<div class="perfil-wrapper">
    <div class="container-perfil">
        <div class="datos-usuario">
            <img src="~/img/perfil.png">
            <h2></h2>
            <p><strong>Fecha de Nacimiento:</strong> dd/mm/aaaa</p>
        </div>

        <div id="admin-actions" style="display: none;">
            <div class="acciones-perfil">
                <a href="/RegNoticia" class="btn-perfil">
                    <img src="~/img/publicacion.png" alt="Publicación"> Nueva Publicación
                </a>
                <a href="#" class="btn-perfil">
                    <img src="~/img/editarperfil.png" alt="Editar"> Editar Perfil
                </a>
                <a href="#" class="btn-perfil">
                    <img src="~/img/password.png" alt="Contraseña"> Cambiar Contraseña
                </a>
                <a href="#" id="cerrar-sesion" class="btn-perfil">
                    <img src="~/img/cerrar-sesion.png" alt="Cerrar sesión"> Cerrar Sesión
                </a>
            </div>
        </div>

        <div id="user-actions" style="display: none;">
            <div class="acciones-perfil">
                <a href="#" class="btn-perfil">
                    <img src="~/img/editarperfil.png" alt="Editar"> Editar Perfil
                </a>
                <a href="#" class="btn-perfil">
                    <img src="~/img/password.png" alt="Contraseña"> Cambiar Contraseña
                </a>
                <a href="#" id="cerrar-sesion" class="btn-perfil">
                    <img src="~/img/cerrar-sesion.png" alt="Cerrar sesión"> Cerrar Sesión
                </a>
            </div>
        </div>
    </div>

    <div class="contenido-perfil">
        <div id="admin-content" style="display: none;">
            <h2>Tus Publicaciones</h2>
            <div id="noticias-perfil" class="grid-noticias">
            </div>
            <h2>Publicaciones</h2>
            <hr>
            <div class="cont-public">
                <div class="publicaciones-usr">
                    <h4>Primera tormenta invernal</h4>
                    <img src="~/img/noticia1clima.jpg">
                    <p>Autor: Usuario</p>
                </div>
                <div class="publicaciones-usr">
                    <h4>FDA prohíbe el colorante rojo número 3 en alimentos</h4>
                    <img src="~/img/gomas.png">
                    <p>Autor: Usuario</p>
                </div>
                <div class="publicaciones-usr">
                    <h4>Temores de que el iceberg más grande del mundo pueda chocar contra una isla del Atlántico Sur</h4>
                    <img src="~/img/iceberg.png">
                    <p>Autor: Usuario</p>
                </div>
                <div class="publicaciones-usr">
                    <h4>Rayados oficializa el fichaje de Sergio Ramos</h4>
                    <img src="~/img/Ramos.png">
                    <p>Autor: Usuario</p>
                </div>
            </div>
        </div>

        <div id="user-content" style="display: none;">
            <h2>Publicaciones Guardadas</h2>
            <div id="publicaciones-guardadas" class="grid-noticias">
                <p>Aquí irían las publicaciones guardadas.</p>
            </div>
            <h2>Comentarios Realizados</h2>
            <div id="comentarios-realizados" class="grid-noticias">
                <p>Aquí irían los comentarios realizados.</p>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/Noticias.js"></script>
    <script src="~/js/validaciones.js"></script>
    <script src="~/js/roles.js"></script>
}