<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - portalNoticiasGDJB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portalNoticiasGDJB.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="~/img/periodico.png" class="logo-icon" />
            <a asp-page="/Index">
                GJDB NEWS
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="#">MUNDO</a></li>
            <li><a href="#">ECONOMÍA</a></li>
            <li><a href="#">DEPORTES</a></li>
            <li><a href="#">TECNOLOGÍA</a></li>
            <li><a href="#">CULTURA</a></li>
        </ul>

        <div class="search-container">
            <div class="search-box">
                <input type="text" placeholder="Buscar noticias...">
            </div>
            <div class="search-image">
                <img src="~/img/buscar.png" />
            </div>
        </div>

        <div class="login-icon">
            <a href="#"><img src="~/img/perfil.png" alt="Iniciar sesión"></a>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 GJDB NEWS.</p>
            <div class="social-links">
                <a href="#"><img src="~/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="~/img/x.png" alt="X"></a>
                <a href="#"><img src="~/img/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>